{% extends 'base/home.html' %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Agregar Producto</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Agregar Producto <small>Botanas Guadalupe</small></h3>
                </div>
                <form method="POST" enctype=multipart/form-data id="quickForm">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </ol>
                    </div>
                </form>
              </div>
            </div>
        </div>
</section>
</div>
{%endblock body%}